version: 2
jobs:
  build_and_test:
    docker:
      - image: circleci/openjdk:11.0.1-jdk

    working_directory: ~/RESTserver

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
              # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: build the dependancies
          command: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      # add the command to gradle test
      - run:
          name: run the test suites
          command: gradle clean build jacocoTestReport
      # package into a jar
      - run:
          name: build the project
          command: gradle clean build

      - store_artifacts:
          path: ./build/libs/RESTserver-0.0.1-SNAPSHOT.jar


  push_to_dockerhub:
    environment:
      - DOCKER_PASSWORD: "N1qaz2wsx@"
      - PROJECT_ID: "insuranceaggregatorbackend"
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: Docker build and push
          command: |
            echo ${DOCKER_PASSWORD} | docker login --username nethmih --password-stdin
            docker build \
              --no-cache -f infrastructure/Dockerfile \
              --build-arg COMMIT_REF=${CIRCLE_SHA1} \
              -t ${PROJECT_ID} .
            docker tag ${PROJECT_ID} nethmih/insurance_aggrgator_soramitsu:${PROJECT_ID}_${CIRCLE_SHA1}
            docker push nethmih/insurance_aggrgator_soramitsu:${PROJECT_ID}_${CIRCLE_SHA1}

  deploy_to_dev:
    environment:
      - PROJECT_ID: "insuranceaggregatorbackend"
      - SSH_HOST: "10.90.137.18"
    machine:
      enabled: true
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "84:81:8b:77:37:14:9b:d4:ca:3a:53:76:23:5b:6e:c2"
      - run:
          name: Deploy to university virtual machine
          command: |
            ssh -vvv -p 1qaz2wsx@ root@${SSH_HOST} "docker-compose -f infrastructure/docker-compose.yml up -d"

  deploy_to_stag:
    docker:
      - image: google/cloud-sdk
    environment:
      - PROJECT_NAME: "InsuranceAggregatorBackEnd"
      - GOOGLE_PROJECT_ID: "insuranceaggregatorbackend"
      - GOOGLE_COMPUTE_ZONE: "us-central1-b"
      - GOOGLE_CLUSTER_NAME: "aggregator-backend-nonprod"
    steps:
      - checkout
      - run:
          name: Setup Google Cloud SDK
          command: |
            apt-get install -qq -y gettext
            echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            gcloud --quiet container clusters get-credentials ${GOOGLE_CLUSTER_NAME}
      - setup_remote_docker
      - run:
          name: Docker build and push
          command: |
            echo $DATASOURCE_URL
            gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://eu.gcr.io
            docker build \
              --no-cache -f infrastructure/Dockerfile \
              --build-arg COMMIT_REF=${CIRCLE_SHA1} \
              -t ${GOOGLE_PROJECT_ID} .
            docker tag ${GOOGLE_PROJECT_ID} eu.gcr.io/${GOOGLE_PROJECT_ID}/backendrepo:${CIRCLE_SHA1}
            docker push eu.gcr.io/${GOOGLE_PROJECT_ID}/backendrepo:${CIRCLE_SHA1}
      - run:
          name: Deploy to Kubernetes
          command: |
            envsubst < infrastructure/k8s_stag.yml > ${HOME}/patched_k8s_stag.yml
            kubectl apply -f ${HOME}/patched_k8s_stag.yml
            kubectl rollout status deployment/${GOOGLE_PROJECT_ID}

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build_and_test
      - push_to_dockerhub:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - develop
                - devops
      - deploy_to_dev:
          requires:
            - push_to_dockerhub
          filters:
            branches:
              only:
                - develop
                - devops
      - deploy_to_stag:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - staging

